{% load static %}
<html>
    <head>
        <title>
            DataFlair Online Quiz with Django
        </title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>        
        {% include 'quiz/navbar.html' %}
        {% block content %}   
        {% endblock %}
        <br>

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>