{% extends 'eduskills/base.html' %}
{% load static %}
{% load mytags %}
    {% block title %} Knowledge Notes | WOS{% endblock %}
    {% block container %}
		<!--iqoniq Wrapper Start-->  
		<div class="iq_wrapper">
			<!--Header Wrap Start-->
			<!--Header Wrap End-->
			<!--Banner Wrap Start-->
			<div class="iner_banner">
				<div class="container">
					<h5>About Us</h5>
					<div class="banner_iner_capstion">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About Us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--Banner Wrap End-->
			<!--Iqoniq Content Start-->
			<div class="iq_content_wrap">
				<!--About Us START-->  
				<section class="about-us-section">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="text">
									<!--Heading Wrap Start-->
			                    	<div class="iq_heading_1 text-left">
			                            <h4>Welcome to <span>Education University</span></h4>
			                        </div>
			                        <!--Heading Wrap End-->
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
									<ul class="categries-list">
										<li><a href="#">Our Mission and Philosophy</a></li>
										<li><a href="#">Our Departments and Programms</a></li>
										<li><a href="#">Why We Are Best</a></li>
										<li><a href="#">Grest Career Outcomes</a></li>
									</ul>
								</div>    
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="thumb">
									<img src="extra-images/about_us.jpg" alt="about_us">
								</div> 
							</div>
						</div>
					</div>
				</section>
				<!--About Us End-->
				<!--Get Best Knowledge Wrap Start-->
			    <section class="iq_best_knowledge_bg">
			        <!--Best Knowledge Description Wrap Start-->
			        <div class="col-md-6 col-sm-offset-6 col-md-offset-6">
			        	<div class="iq_knowledge_des">
			                <!--Heading Wrap Start-->
			                <div class="iq_heading_1 text-left">
			                    <h4>Get The <span>Best knowledge</span><br>From Us</h4>
			                </div>
			                <!--Heading Wrap End-->
			                <h5>Have the Courage to have Convictions</h5>
			                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit</p>
			                <a class="iq_link_1" href="#">Join Us</a>
			            </div>
			        </div>
			        <!--Best Knowledge Description Wrap Start-->
			    </section>
			    <!--Get Best Knowledge Wrap End-->
				<!--ABOUT US PROSSES BAR START--> 
				<section>
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="text progress-caption">
									<!--Heading Wrap Start-->
				                    <div class="iq_heading_1 text-left">
				                        <h4>Our Courses <span>Progress</span></h4>
				                    </div>
				                    <!--Heading Wrap End-->
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
									<a class="iq_link_1" href="#">Learn More</a>
								</div> 
							</div>
							<div class="col-md-6 col-sm-6">
								<!--IQONIQ PROSSES BAR Start--> 
								<div class="iq-progress">
									<h6 class="progressText"> Business & Finance </h6>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" >   
											<span  class="popOver" data-toggle="tooltip" data-placement="top" title="40%"> </span>
										</div>
									</div>
								</div>
								<!--IQONIQ PROSSES BAR END--> 
								<!--IQONIQ PROSSES BAR Start--> 
								<div class="iq-progress">
									<h6 class="progressText"> Social Courses </h6>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" >   
											<span  class="popOver" data-toggle="tooltip" data-placement="top" title="50%"> </span>
										</div>
									</div>
								</div>
								<!--IQONIQ PROSSES BAR END--> 
								<!--IQONIQ PROSSES BAR Start--> 
								<div class="iq-progress">
									<h6 class="progressText"> Computer & IT Courses </h6>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" >   
											<span  class="popOver" data-toggle="tooltip" data-placement="top" title="75%"> </span>
										</div>
									</div>
								</div>
								<!--IQONIQ PROSSES BAR END--> 
								<!--IQONIQ PROSSES BAR Start--> 
								<div class="iq-progress">
									<h6 class="progressText"> Language Courses </h6>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >   
											<span  class="popOver" data-toggle="tooltip" data-placement="top" title="100%"> </span>
										</div>
									</div>
								</div>
								<!--IQONIQ PROSSES BAR END--> 
							</div>	
						</div>
					</div>
				</section>
				<!--ABOUT US PROSSES BAR END--> 
				<!-- Video Wrap Start--> 
				<section class="video-wrap">
					<div class="container">
						<h1>Start Learning New Things</h1>
						<h5>We are the best online course professionals</h5>
						<a href="#" class="play-track"><i class="fa fa-play-circle-o"></i>Watch Video</a>
					</div>
				</section>
				<!-- Video Wrap End--> 
				<!--Our Teacher Wrap Start-->
			    <section>
			    	<div class="container">
			            <!--Heading Wrap Start-->
			            <div class="iq_heading_1 text-center">
			                <h4>Our <span>Teachers</span></h4>
			                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, </p>
			                <p>lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
			            </div>
			            <!--Heading Wrap End-->
			            <!--Teacher Wrap List Start-->
			            <div class="row">
			                <!--Teacher Thumb Start-->
			            	<div class="col-md-4 col-sm-6">
			                	<div class="iq_teacher_style_1">
			                    	<figure>
			                        	<img src="extra-images/teacher-01.jpg" alt="Image Here">
			                        </figure>
			                        <div class="text">
			                            <h4><a href="#">Anna Doe</a></h4>
			                            <h6>Language Instructor</h6>
			                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
			                            <ul class="iq_footer_social">
			                            	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
			                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			                            </ul>
			                        </div>
			                    </div>
			                </div>
			                <!--Teacher Thumb End-->
			                <!--Teacher Thumb Start-->
			                <div class="col-md-4 col-sm-6">
			                	<div class="iq_teacher_style_1">
			                        <div class="text">
			                        	<h4><a href="#">John Doe</a></h4>
			                            <h6>Vice President</h6>
			                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
			                            <ul class="iq_footer_social">
			                            	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
			                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			                            </ul>
			                        </div>
			                       <figure>
			                        	<img src="extra-images/teacher-02.jpg" alt="Image Here">
			                        </figure>
			                    </div>
			                </div>
			                <!--Teacher Thumb End-->
			                <!--Teacher Thumb Start-->
			                <div class="col-md-4 hidden-sm">
			                	<div class="iq_teacher_style_1">
			                    	<figure>
			                        	<img src="extra-images/teacher-03.jpg" alt="Image Here">
			                        </figure>
			                        <div class="text">
			                            <h4><a href="#">Sara Adward</a></h4>
			                            <h6>Manager</h6>
			                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudinris.</p>
			                            <ul class="iq_footer_social">
			                            	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
			                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			                            </ul>
			                        </div>
			                    </div>
			                </div>
			                <!--Teacher Thumb End-->
			            </div>
			            <!--Teacher Wrap List End-->
			        </div>
			    </section>
			    <!--Our Teacher Wrap End-->
			</div>
			<!--Iqoniq Content End-->
			<!--Contact Info Wrap End-->
		</div>

{% endblock %}

