{% extends 'eduskills/base.html' %}
{% load static %}
{% load mytags %}
    {% block title %} Knowledge Notes | WOS{% endblock %}
    {% block container %}
		<!--iqoniq Wrapper Start-->  
		<div class="iq_wrapper">
			<!--Header Wrap Start-->
			<!--Header Wrap End-->
			<!--Banner Wrap Start-->

			<!--Banner Wrap End-->
			<!--Iqoniq Content Start-->
			<div class="iq_content_wrap">
				<!--About Us START-->  
				<section class="about-us-section">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="text">
									<!--Heading Wrap Start-->
			                    	<div class="iq_heading_1 text-left">
			                            <h4>Welcome to <span>Way of Study</span></h4>
			                        </div>
			                        <!--Heading Wrap End-->
									<p>This is a study related website. We have developed this platform for those who are facing problems in study life. Who are stuck on a point and want to move but can't. For those who are unable to decide his/her future study/subjects or job field. For those who are facing difficulty to decide their research field and for those who need help in assignments and presentations. So we are here to help you. Contact us, we will give you a better advice.</p>

										<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0"> *
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Our Missions
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Students that are studying in Metric or Inter are facing problems about their study. Our mission is to make the study easy for students by providing notes, past papers and books. So, they can easily prepare their examination without any tuition.
          </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0"> *
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Our Services
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
			We are providing quiz system for all students. We are providing free books, notes for all kind of students. If a student has any problem in their study, selection of future, business idea, thesis ideas, projects ideas, or any other type. He/She can contact us, we solve it and give you best advice for free.
      </div>
    </div>
  </div>
											<div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0"> *
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Great Career Outcomes
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
		  We want the students learn skills and the industry of Pakistan grow up.
      </div>
    </div>
  </div>
</div>
<!--										<li><a href="#">Our Mission </a></li>-->
<!--										<li><a href="#">Our Departments and Programms</a></li>-->
<!--										<li><a href="#">Why We Are Best</a></li>-->
<!--										<li><a href="#">Grest Career Outcomes</a></li>-->

								</div>    
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="thumb">
									<img src="{% static 'images/study.jpg' %}" width="800" alt="about_us">
								</div> 
							</div>
						</div>
					</div>
				</section>
				<!--About Us End-->
				<!--Get Best Knowledge Wrap Start-->
			    <section class="iq_best_knowledge_bg">
			        <!--Best Knowledge Description Wrap Start-->
			        <div class="col-md-6 col-sm-offset-6 col-md-offset-6">
			        	<div class="iq_knowledge_des">
			                <!--Heading Wrap Start-->
			                <div class="iq_heading_1 text-left">
			                    <h4>Get The <span>Best knowledge</span><br>From Us</h4>
			                </div>
			                <!--Heading Wrap End-->
			                <h5>Have the Courage to have Convictions</h5>
			                <p>Serving free knowledge to enhance the future of students. If you have any query, or you have any knowledge that seems not on our website. Tell us, we will add it on our site.</p>
			                <a class="iq_link_1" href="{% url 'contactus' %}">Contact Us</a>
			            </div>
			        </div>
			        <!--Best Knowledge Description Wrap Start-->
			    </section>
			    <!--Get Best Knowledge Wrap End-->
				<!--ABOUT US PROSSES BAR START-->
				<!--ABOUT US PROSSES BAR END--> 
				<!-- Video Wrap Start--> 
				<section class="video-wrap">
					<div class="container">
						<h1>Start Learning New Things</h1>
						<h5>We are the best online course professionals</h5>

					</div>
				</section>
				<!-- Video Wrap End--> 
				<!--Our Teacher Wrap Start-->

			    <!--Our Teacher Wrap End-->
			</div>
			<!--Iqoniq Content End-->
			<!--Contact Info Wrap End-->
		</div>

{% endblock %}

