{% extends 'eduskills/base.html' %}
{% load static %}
    {% block title %} Blog Posts | WOS{% endblock %}
    {% block container %}

<div class="iq_wrapper">
		    <div class="iq_content_wrap">
				<!--blog3_in_page START-->  
				<section>
					<div class="container">
						<div class="row">
							{% for b in page_obj %}
							<div class="col-md-4 col-sm-6">
								<!--BLOG Small START-->  
								<div class="blog-list blog-small border-div">
									<!--BLOG Small FIGURE START--> 
									<figure>
										<img src="/{{b.blog_image}}" alt="">
									</figure>
									<!--BLOG Small FIGURE END--> 
									<!--BLOG Small CAPSTION START-->  
									<div class="blog-caption">
										<h5 class="blog-title"><a href="#">{{b.title}}</a></h5>
										<ul class="course_comments">
											<li>
												<a href="#"><i class="fa fa-user"></i>{{b.User}}</a>
											</li>
											<li>
												<a href="#"><i class="fa fa-clock-o"></i>{{b.published_date}}</a>
											</li>
										</ul>
										<p>{{b.text|truncatewords:20}}</p>
										<a class="iq_link_1" href="{% url 'blogdetail' b.id %}">READ MORE</a>
									</div>
									<!--BLOG Small CAPSTION END--> 
								</div>
								<!--BLOG Small END-->
							</div>
							{% endfor %}
							<div class="col-md-12 col-sm-12">
								<!--Pagination Start-->
			                	  <!-- Pagination -->
				<div class="pagination pull-right">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" type="submit" class="btn btn-default btn-sm">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" type="submit" class="btn btn-default btn-sm">Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" type="submit" class="btn btn-default btn-sm">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" type="submit" class="btn btn-default btn-sm">Last &raquo;</a>
        {% endif %}
    </span><br><br>
				<span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
</div>
			<!-- Pagination end-->
						</div>
					</div>
				</section>
				<!--blog3_in_page end-->  
			</div>
			<!--iqoniq Content End-->
			<!--Footer Contact Info Wrap Start-->
		</div>

{% endblock %}