{% extends 'eduskills/base.html' %}
{% load static %}
    {% block title %} Blog Detail | WOS{% endblock %}
    {% block container %}
		<!--iqoniq Wrapper Start-->  
		<div class="iq_wrapper">
		    <!--Header Wrap Start-->
			<!--Header Wrap End-->
		    <!--Banner Wrap Start-->
			<div class="iner_banner">
				<div class="container">
					<h5>Blog - detail</h5>
					<div class="banner_iner_capstion">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#">Blog - detail</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--Banner Wrap End-->
		    <!--iqoniq Content Start-->
		    <div class="iq_content_wrap">
				<!--blog1_detail START-->  
				<section>
					<!--blog_detail_page START-->
					<div class="blog1_detail">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<!--blog_detail_page START-->
									<div class="blog_detail_page">
										<figure>
											<img src="/{{posts.0.blog_image}}" alt="">
										</figure>
										<!--Heading Wrap Start-->
			                            <div class="iq_heading_1 text-left">
			                                <h4>{{posts.0.title}}</h4>
			                            </div>
			                            <!--Heading Wrap End-->
										<ul class="blog_detail_navi">
											<li>
												<a href="#">{{posts.0.published_date}}</a>
											</li>
											<li>
												<a href="#">In Destination, Education</a>
											</li>
											<li>
												<a href="#">By {{posts.0.User}}</a>
											</li>
										</ul>
										<p>{{posts.0.text|linebreaks}}</p>

									</div>
									<!--blog_detail_area end-->
									<div class="tags_wrap">
                                        <!--Tags Start-->
                                        <ul class="iq-tags">
                                            <li><a href="#">Sports</a></li>
                                            <li><a href="#">Team</a></li>
                                            <li><a href="#">Champions</a></li>
                                        </ul>
                                        <!--Tags End-->
                                        <ul class="iq_footer_social">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                            <li><a href="#" class="fa fa-rss"></a></li>
                                        </ul>
                                    </div>
									<!--commenting aera start-->
									<div class="blog_commenting">
										<div class="detail_searh_heading commenting">
											<!--Heading Wrap Start-->
				                            <div class="iq_heading_1 text-left">
				                                <h4>Comment : <span>{{counting}}</span></h4>
				                            </div>

				                            <!--Heading Wrap End-->
										</div>
										<ul class="blog_commenting_area">
											<!--comment-thumb start-->
											{% for i in allreviews %}
											<li>
												<div class="comment-thumb">
													<figure>
														 <img src="{% static 'images/profile.png' %}" alt="">
													</figure>
													<div class="comment_caption">
														<div class="comment_caption-2">
															<span>
																<strong>
																	{{i.name}}
																</strong>
																<small>{{i.posted_date}}</small>
															</span>
															<a class="comment-reply" href="#">Reply</a>
														</div>
														<div class="comment-reply-2">
															<p>{{i.feedback}}</p>
														</div>
													</div>
												</div>
											</li>
											{% endfor %}
											<!--comment-thumb end-->
										</ul>
									</div>	
									<!--commenting aera end-->
									<!--search_heading strat-->
									<div class="blog_detail_searh">
										<!--blog_detail_social start-->
										<div class="detail_searh_heading">
											<!--Heading Wrap Start-->
				                            <div class="iq_heading_1 text-left">
				                                <h4>Leave A <span>Comment</span></h4>
				                            </div>
				                            <!--Heading Wrap End-->
										</div>
										<div class="row">
											<form action="" method="post" id="commentform">
												{% csrf_token %}
											<div class="col-md-6 col-sm-6">
												<div class="iq-input">
													<input type="text" name="name" placeholder="Your Name">
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="iq-input">
													<input type="email" name="email" placeholder="email">
												</div>
											</div>
											<div class="col-md-12 col-sm-12">
												<div class="iq-input">
													<textarea placeholder="Message" name="comment"></textarea>
												</div>
											</div>
											<div class="col-md-12 col-sm-12">
												<input class="iq_link_1" type="submit" value="submit">
											</div>
												</form>
										</div>
									</div>
									<!--search_heading end-->
								</div>
								<div class="col-md-4">
									<div class="aside-bar">
										<!--course_inrp_side_search START-->
										<div class="widget widget-search">
											<form class="iq-input">
			                                    <input placeholder="Search ..." type="text">
			                                    <label class="iq-input-icon"><input type="submit"></label>
			                                </form>
										</div>
										<!--course_inrp_side_search end-->
										<!--coures_archives start-->
										<div class="widget widget_archive">
											<!--Widget Title Start-->
			                                <h5 class="widget-title"><span>our</span> Course</h5>
			                                <!--Widget Title End-->
											<ul>
												<li>
													<a href="#">Politics & History</a><span>03</span>
												</li>
												<li>
													<a href="#">Journalism</a><span>01</span>
												</li>
												<li>
													<a href="#">Medical Sciences</a><span>03</span>
												</li>
												<li>
													<a href="#">Health</a><span>01</span>
												</li>
												<li>
													<a href="#">Sports</a><span>03</span>
												</li>
												<li>
													<a href="#">Atrs</a><span>02</span>
												</li>
												<li>
													<a href="#">Tourism & Culture</a><span>06</span>
												</li>
											</ul>
										</div>
										<!--coures_archives end-->
										<!--POPULAR START-->
										<div class="widget widget-popular">
											<!--Widget Title Start-->
			                                <h5 class="widget-title"><span>popular</span>courses</h5>
			                                <!--Widget Title End-->
											<!--POPULAR THUMB START-->
											<div class="popular_thumb">
												<figure>
													<img src="extra-images/popular-thumb1.jpg" alt=""/>
												</figure>
												<!--COURES POPULAR CAPSTION START-->
												<div class="overflow-text">
													<h6><a href="#">Neque porro quisquam est qui dolorem  dolor</a></h6>
													<p>19 Dec, 2015</p>
												</div>
												<!--COURES POPULAR CAPSTION END-->
											</div>
											<!--POPULAR THUMB END-->
											<!--POPULAR THUMB START-->
											<div class="popular_thumb">
												<figure>
													<img src="extra-images/popular-thumb2.jpg" alt=""/>
												</figure>
												<!--COURES POPULAR CAPSTION START-->
												<div class="overflow-text">
													<h6><a href="#">Neque porro quisquam est qui dolorem  dolor</a></h6>
													<p>19 Dec, 2015</p>
												</div>
												<!--COURES POPULAR CAPSTION END-->
											</div>
											<!--POPULAR THUMB END-->
											<!--POPULAR THUMB START-->
											<div class="popular_thumb">
												<figure>
													<img src="extra-images/popular-thumb3.jpg" alt=""/>
												</figure>
												<!--COURES POPULAR CAPSTION START-->
												<div class="overflow-text">
													<h6><a href="#">Neque porro quisquam est qui dolorem  dolor</a></h6>
													<p>19 Dec, 2015</p>
												</div>
												<!--COURES POPULAR CAPSTION END-->
											</div>
											<!--POPULAR THUMB END-->
										</div>
										<!--POPULAR END-->
										<!--COURES CATEGORIES START-->
										<div class="widget widget_time">
											<!--Widget Title Start-->
			                                <h5 class="widget-title"><span>working</span> hours</h5>
			                                <!--Widget Title End-->
											<ul>
												<li>
													<span>Monday</span>08:30 am - 05:30 pm
												</li>
												<li>
													<span>Tuesday</span>08:30 am - 05:30 pm
												</li>
												<li>
													<span>Wednesday</span>08:30 am - 05:30 pm
												</li>
												<li>
													<span>Thursday</span>08:30 am - 05:30 pm
												</li>
												<li>
													<span>Friday</span>08:30 am - 05:30 pm
												</li>
												<li>
													<span>Saturday</span>Closed
												</li>
												<li>
													<span>Sunday</span>Closed
												</li>
											</ul>
										</div>
										<!--COURES CATEGORIES END-->
										<!--POPULAR START-->
										<div class="widget widget-popular">
											<!--Widget Title Start-->
			                                <h5 class="widget-title"><span>popular</span>courses</h5>
			                                <!--Widget Title End-->
											<!--POPULAR THUMB START-->
											<div class="popular_thumb">
												<figure>
													<img src="extra-images/popular-thumb5.jpg" alt=""/>
												</figure>
												<!--COURES POPULAR CAPSTION START-->
												<div class="overflow-text">
													<h6><a href="#">Professional Teching Course</a></h6>
													<!--RATING AREA START-->
													<div class="rating-wrap">
		                                                <div class="rating_down">
		                                                    <div class="rating_up" style="width:100%;"></div>
		                                                </div>
		                                            </div>	
		                                            <!--RATING AREA End-->							
													<p>Anna Doe</p>
													<span>$99.99</span>
													<!--COURES RATING AREA END-->
												</div>
												<!--COURES POPULAR CAPSTION END-->
											</div>
											<!--POPULAR THUMB END-->
											<!--POPULAR THUMB START-->
											<div class="popular_thumb">
												<figure>
													<img src="extra-images/popular-thumb2.jpg" alt=""/>
												</figure>
												<!--COURES POPULAR CAPSTION START-->
												<div class="overflow-text">
													<h6><a href="#">Professional Teching Course</a></h6>
													<!--RATING AREA START-->
													<div class="rating-wrap">
		                                                <div class="rating_down">
		                                                    <div class="rating_up" style="width:100%;"></div>
		                                                </div>
		                                            </div>	
		                                            <!--RATING AREA End-->							
													<p>Anna Doe</p>
													<span>$99.99</span>
													<!--COURES RATING AREA END-->
												</div>
												<!--COURES POPULAR CAPSTION END-->
											</div>
											<!--POPULAR THUMB END-->
											<!--POPULAR THUMB START-->
											<div class="popular_thumb">
												<figure>
													<img src="extra-images/popular-thumb3.jpg" alt=""/>
												</figure>
												<!--COURES POPULAR CAPSTION START-->
												<div class="overflow-text">
													<h6><a href="#">Professional Teching Course</a></h6>
													<!--RATING AREA START-->
													<div class="rating-wrap">
		                                                <div class="rating_down">
		                                                    <div class="rating_up" style="width:100%;"></div>
		                                                </div>
		                                            </div>	
		                                            <!--RATING AREA End-->							
													<p>Anna Doe</p>
													<span>$99.99</span>
												</div>
												<!--COURES POPULAR CAPSTION END-->
											</div>
											<!--POPULAR THUMB END-->
										</div>
										<!--POPULAR END-->
										<!--POPULAR START-->
										<div class="widget widget-tag">
											<!--Widget Title Start-->
			                                <h5 class="widget-title"><span>tags</span></h5>
			                                <!--Widget Title End-->
			                                <div class="tag">
			                                	<a class="tag-link" href="#">Science</a>
			                                	<a class="tag-link" href="#">knowledge</a>
			                                	<a class="tag-link" href="#">Courage</a>
			                                	<a class="tag-link" href="#">Sports</a>
			                                	<a class="tag-link" href="#">Impression</a>
			                                	<a class="tag-link" href="#">History & Politics</a>
			                                	<a class="tag-link" href="#">Admission</a>
			                                	<a class="tag-link" href="#">Arts</a>
			                                	<a class="tag-link" href="#">Research</a>
			                                	<a class="tag-link" href="#">Career</a>
			                                	<a class="tag-link" href="#">PHD</a>
			                                </div>
										</div>
										<!--POPULAR END-->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--BLOG1 PAGE END-->  
				</section>
			</div>
				</div>
{% endblock %}