{% extends 'eduskills/base.html' %}
{% load static %}
    {% block title %} Course Detail | WOS{% endblock %}

    {% block container %}
			<!--Banner Wrap End-->
		    <!--Iqoniq Content Wrap Start-->
		    <div class="iq_content_wrap">
				<!--coures_single_page START-->  
				<section class="coures_single_page">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<!--course_single_heading START-->  
								<div class="course_single_heading">
									<!--Heading Wrap Start-->
		                            <div class="iq_heading_1 text-left">
										<div class="form-group">
										<label for="coursefinder"><h2>Course Finder</h2></label>
											<table class="table" id="coursefinder" style="border: 1px solid; background-color: #e79800;">
												 <thead>
												<tr>

													<td scope="col">
														<label for="city">City</label>
														<select name="select" id="city" class="form-control">
															<option>select city</option>
															{% for c in cities %}
															<option value="{{c.id}}">{{c.city_name}}</option>
															{% endfor %}
														</select>
													</td>
													<td scope="col">
														<label for="institute">Institute</label>
														<select name="select" id="institute" class="form-control">
															<option>select institute</option>
															<option>hello</option>
															<option>hello</option>
														</select>
													</td>
													<td scope="col">
														<label for="stl">Student Level</label>
														<select name="select" id="stl" class="form-control">
															<option>select level</option>
															<option>hello</option>
															<option>hello</option>
														</select>
													</td>
													<td scope="col">
														<label for="ds">Course Type</label>
														<select name="select" id="ds" class="form-control">
														<option>select type</option>
															{% for j in programs %}
																{% ifequal pkid j.id %}
														<option selected value="{{j.id}}">{{j.Category_name}}</option>
																{% else %}
														<option value="{{j.id}}">{{j.Category_name}}</option>

																{% endifequal %}
															{% endfor %}
														</select>
													</td>
												<td scope="col">
													<label for="fdf">Program</label>
													<select name="select" id="fdf" class="form-control">
													<option>select program</option>
													<option>hello</option>
													<option>hello</option>
													</select>
												</td>
												</tr>
												 </thead>
												</table>
											</div>
		                            </div>

		                            <!--Heading Wrap End-->
									<!--courses_socil START-->
									<ul class="iq_footer_social">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-envelope"></i></a>
										</li>
									</ul>
									<!--courses_socil end-->
									<!--course_comments START-->
									<ul class="course_comments">
										<li>
											<a href="#"><i class="fa fa-clock-o"></i>Nov 2015</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-user"></i>Nov 2015</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-comments-o"></i>Nov 2015</a>
										</li>
									</ul>
									<!--course_comments end-->
								</div>
								<table class="table table">
									<tr>
										<th>Courses</th>
										<th>Universities</th>
									<th>Admissions</th>
									<th>Career Scope</th>
									</tr>

									{% for i in courses %}

									<tr>

										<td scope="col">
											{{i.program_name}}
										</td>
										<td>
											<a href="{% url 'course_detail' ist=pkid secondid=i.id  %}"><button class="btn btn-primary">Universities</button>
										</a>
										</td>
										<td>
											<button class="btn btn-primary">Admissions</button>
										</td>
										<td>
											<button class="btn btn-primary">Career Scope </button>
										</td>
									</tr>
									{% endfor %}


								</table>
								<!--course_single_heading end-->
							</div>
							{% include 'eduskills/sidebar.html' %}
						</div>
					</div>
				</section>
				<!--coures_single_page end-->
			</div>
			<!--Iqoniq Content Wrap End-->

{% endblock %}
<script>
$(document).ready(function () {
    $('#city').change(function() {
        $city_id = $(this).value
		console.log("hello")
            });
            });
</script>